.mainBackground {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1b1509;
  z-index: 10;
}

.mainBackground img {
  margin-right: 70px;
  height: auto;
  margin-top: 1290px;
  position: relative;
}
