.wrapper{
    /* width: 50%;
    margin: 150px 5% 217px 37%; */
    margin: 150px 0 0 400px;
    max-width: 840px;
    width: 100%;
    animation: show 2s ease;
    opacity: 1;
}

.wrapperTitle{
    display: flex;
    align-items: flex-end;
}

.wrapperTitle h2 {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
.wrapperTitle h2{
    font-size: 32px;
    line-height: 40px;
    margin-right: 16px;
}
.wrapperTitle h3 {
    font-size: 16px;
    line-height: 28px;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}

.info{
    margin-top: 100px;
}

.menuItems {
    width: 432px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menuItem a, .wrapperTitle h3{
    color: #FFFFFF;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 500;
}

.menuItem a {
    font-size: 18px;
    padding-bottom: 8px;
    cursor: default;
}

.menuItem a:hover {
    color: #E3D18F;
    transition: all ease 0.5s;
    cursor: pointer;
}

.active {
    border-bottom: 1px solid #E3D18F;
}

.Block {
    color: #FFFFFF;
    width: 100%;
    margin-top: 64px;
}

.Block h2 {
    font-family: 'Jura';
    font-style: normal;
    font-size: 44px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 24px;
}

.Block p {
        font-family: 'Jura';
        font-style: normal;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 72px;
    
}

@keyframes show {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 870px) {
    .wrapperTitle h2, .wrapperTitle h3 {
        font-size: 14px;
        line-height: 21px;
        }
    .wrapperTitle h3 {
        font-family: 'Jura';
    }
    .Block {
    position: absolute;
        margin-top: 40px;
    }
    .wrapper {
        position: relative;
        width: 70%;
        margin: 157px 16px 88px 108px;
      
    }

   .Block h2 {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 16px;
    }
    .Block p {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 48px;
    }
    .block {
        position: absolute;
        margin-top: 40px;
    }

    .wrapperMenuButtons {
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .wrapperTitle {
        display: flex;
        align-items: center;
        width: 90px;
        justify-content: center;
    }

    .wrapperTitle h3 {
        font-size: 12px;
        position: absolute;
    }

    .btnArrow {
        background: none;
        border: none;
        cursor: pointer;
    }
}