.wrapper {
  margin: 150px 50px 0 45%;
  max-width: 900px;
  width: 100%;
  max-height: 607px;
  animation: show 2s ease;
  opacity: 1;
}
@keyframes show {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wrapperTitle {
  display: flex;
  align-items: flex-end;
}
.wrapperTitle h2,
.wrapperTitle h3 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  padding: 0;
}
.wrapperTitle h2 {
  font-size: 32px;
  line-height: 40px;
  margin-right: 16px;
}
.wrapperTitle h3 {
  font-size: 16px;
  line-height: 28px;
}
.info {
  margin-top: 100px;
}

.menuItems {
  width: 432px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menuItem p {
  color: #ffffff;
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  padding-bottom: 8px;
  cursor: default;
  cursor: pointer;
}

.menuItem p:hover {
  color: #e3d18f;
  transition: all ease 0.5s;
  cursor: pointer;
}

.active {
  border-bottom: 1px solid #e3d18f;
}

.Block {
  color: #ffffff;
  width: 100%;
  margin-top: 64px;
}

.Block h2 {
  font-family: "Jura";
  font-style: normal;
  font-size: 44px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 24px;
}

.Block p {
  font-family: "Jura";
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 72px;
}

@media (max-width: 1200px) and (max-height: 800px) {
  .wrapper {
    margin: 135px 30px 0 35%;
  }
  .Block {
    margin-top: 40px;
  }
  .Block p {
    margin-bottom: 30px;
  }
  .info {
    margin-top: 40px;
  }
}
@media (max-width: 1100px) and (max-height: 700px) {
    .Block h2 {
        font-size: 27px;
        line-height: 30px;
      }
      .Block p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 30px;
      }
}
@media (max-height: 940px) {
  .Block {
    margin-top: 50px;
  }

  .Block p {
    margin-bottom: 50px;
  }

  .info {
    margin-top: 60px;
  }
}
@media (max-width: 870px) {
  .wrapper {
    position: relative;
    width: 75%;
    margin: 101px 16px 88px 108px;
  }

  .wrapperTitle {
    display: flex;
    align-items: center;
    width: 90px;
    justify-content: center;
  }

  .wrapperTitle h2,
  .wrapperTitle h3 {
    font-size: 14px;
    line-height: 21px;
  }

  .wrapperTitle h2 {
    margin-right: 10px;
  }

  .wrapperTitle h3 {
    font-family: "Jura";
  }

  .info {
    margin-top: 40px;
  }

  .navTitle h3 {
    font-family: "Jura";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    margin-left: 16px;
    margin-right: 16px;
  }

  .Block {
    position: absolute;
    margin-top: 40px;
  }

  .Block h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  .Block p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
  }

  .block {
    position: absolute;
    margin-top: 40px;
  }

  .wrapperMenuButtons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .btnArrow {
    background: none;
    border: none;
    cursor: pointer;
  }
}
@media (max-width: 1100px) and (max-height: 600px) {
.info{
  margin-top: 45px;
}
.Block{
  margin-top: 40px;
}
  
    .Block h2 {
      font-size: 35px;
      line-height: 35px;
    }
  
    .Block p {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 22px;
    }
}

@media (max-width: 550px) and (max-height: 600px) {
.info {
    margin-top: 25px;
  }

  .Block {
    margin-top: 30px;
  }

  .Block h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .Block p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
  }

}
@media (max-width: 440px) and (max-height: 600px) {
.info {
    margin-top: 25px;
  }

  .Block {
    margin-top: 30px;
  }

  .Block h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .Block p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
  }
}

@media (max-width: 380px) {
  .info {
    margin-top: 25px;
  }
  .Block {
    margin-top: 25px;
  }
  .Block h2 {
    font-size: 18px;
    line-height: 26px;
  }
  .Block p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }
}
@media (max-width: 370px) {
  .info {
    margin-top: 15px;
  }
  .wrapper {
    margin: 70px 0px 0px 70px;
  }
  .Block {
    margin-top: 15px;
  }
  .Block h2 {
    line-height: 22px;
  }
  .Block p {
    margin-bottom: 20px;
  }
}