.main {
    border: solid 0.1px rgba(0, 0, 0, 0);
    position: relative;
    /* max-width: 1440px; */
    margin: 0 auto;
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    z-index: 30;
}

.main::-webkit-scrollbar {
    display: none;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* @media (max-width: 1000px) {
    .main {
      padding: 0 30px 0 30px;
    }
  }
  
  @media (max-width: 600px){
    .main{
      padding: 0 15px 0 15px;
    }
  }

@media (min-width: 1001px) {
    .main {
        padding: 0 100px;
    }
} */