.ringsWrapper {
  width: 130vw;
  height: 130vh;
  
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  
  /* transform: translateY(-50%) rotate(359deg); */

  animation: show 2500ms ease-in-out;
}

.ringsWrapper img {
  border-radius: 100%;
  box-shadow: 0 0 10px #e3d18f61;
}

/* ---Planets orbits common styles--- */
.orbitOfSmallRingFirstPlanet,
.orbitOfSmallRingFirstPlanetSmall,
.orbitOfSmallRingSecondPlanet,
.orbitOfSmallRingSecondPlanetSmall,
.orbitOfMiddleRingFirstPlanet,
.orbitOfMiddleRingFirstPlanetSmall,
.orbitOfMiddleRingSecondPlanetSmall,
.orbitOfMiddleRingSecondPlanet,
.orbitOfLargeRingFirstPlanet,
.orbitOfLargeRingFirstPlanetSmall,
.orbitOfLargeRingSecondPlanet,
.orbitOfLargeRingSecondPlanetSmall,
.orbitOfLargeRingThirdPlanet,
.orbitOfLargeRingThirdPlanetSmall {
  border-radius: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;

  position: absolute;
  top: 0;
  left: 0;
}
/* ---Common Planets Styles--- */
.smallRingFirstPlanet,
.smallRingFirstPlanetSmall,
.smallRingSecondPlanet,
.smallRingSecondPlanetSmall,
.middleRingSecondPlanet,
.middleRingSecondPlanetSmall,
.middleRingFirstPlanetSmall,
.middleRingFirstPlanet,
.largeRingFirstPlanet,
.largeRingFirstPlanetSmall,
.largeRingSecondPlanet,
.largeRingSecondPlanetSmall,
.largeRingThirdPlanet,
.largeRingThirdPlanetSmall {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 9999;

  transform: translate(-50%, 0px);
}

/* ---Small Ring--- */
.smallRingWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
}

.smallRing {
  width: 100%;
  margin: 12%;

  border: solid 1px #393937;
  border-radius: 100%;
  aspect-ratio: 1 / 1;

  position: relative;
}

.smallRingFirstPlanet {
  width: 30px;
  height: 30px;
  /* outline: 1px solid rgb(255, 0, 0); */
}
.smallRingFirstPlanetSmall {
  width: 6px;
  height: 6px;
  /* outline: 1px solid rgb(106, 255, 0); */
}
.smallRingSecondPlanet {
  width: 24px;
  height: 24px;
  /* outline: 1px solid rgb(0, 60, 255); */
}
.smallRingSecondPlanetSmall {
  width: 4px;
  height: 4px;
  /* outline: 1px solid rgb(204, 0, 255); */
}

.orbitOfSmallRingFirstPlanet{
  transform: rotate(5deg);
}
.orbitOfSmallRingFirstPlanetSmall{
  transform: rotate(21deg);
}
.orbitOfSmallRingSecondPlanet {
  transform: rotate(345deg);
}
.orbitOfSmallRingSecondPlanetSmall {
  transform: rotate(336deg);
}

/* ---Midle Ring--- */
.middleRingWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
}

.middleRing {
  /* padding: 5%; */
  margin: 6%;

  width: 100%;
  border: solid 1px #776754;
  border-radius: 100%;
  aspect-ratio: 1 / 1;

  position: relative;
}
.orbitOfMiddleRingFirstPlanet{
  transform: rotate(335deg);
}
.orbitOfMiddleRingFirstPlanetSmall {
  transform: rotate(350deg);
}
.orbitOfMiddleRingSecondPlanetSmall{
  transform: rotate(5deg);
}
.orbitOfMiddleRingSecondPlanet {
  transform: rotate(20deg);
}


.middleRingSecondPlanet {
  width: 28px;
  height: 28px;
  /* outline: 1px solid rgb(204, 0, 255); */
}
.middleRingSecondPlanetSmall {
  width: 8px;
  height: 8px;
  /* outline: 1px solid red; */
}
.middleRingFirstPlanetSmall {
  width: 12px;
  height: 12px;
  /* outline: 1px solid rgb(0, 13, 255); */
}
.middleRingFirstPlanet {
  width: 40px;
  height: 40px;
  /* outline: 3px solid rgb(0, 255, 94); */
}

.largeRingWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
}

.largeRing {
  width: 100%;

  border: solid 1px #475a58;
  border-radius: 100%;
  aspect-ratio: 1 / 1;

  position: relative;
}

.orbitOfLargeRingFirstPlanet{
  transform: rotate(341deg);
}
.orbitOfLargeRingFirstPlanetSmall{
  transform: rotate(348deg);
}
.orbitOfLargeRingSecondPlanet{
  transform: rotate(356deg);
}
.orbitOfLargeRingSecondPlanetSmall{
  transform: rotate(0deg);
}
.orbitOfLargeRingThirdPlanet{
  transform: rotate(10deg);
}
.orbitOfLargeRingThirdPlanetSmall{
  transform: rotate(20deg);
}

.largeRingFirstPlanet {
  width: 32px;
  height: 32px;
  /* outline: 1px solid rgb(255, 0, 0); */
}
.largeRingFirstPlanetSmall {
  width: 8px;
  height: 8px;
  /* outline: 1px solid rgb(255, 225, 0); */
}
.largeRingSecondPlanet {
  width: 32px;
  height: 32px;
  /* outline: 1px solid rgb(38, 255, 0); */
}
.largeRingSecondPlanetSmall {
  width: 10px;
  height: 10px;
  /* outline: 1px solid rgb(0, 255, 255); */
}
.largeRingThirdPlanet {
  width: 44px;
  height: 44px;
  /* outline: 1px solid rgb(0, 34, 255); */
}
.largeRingThirdPlanetSmall {
  width: 10px;
  height: 10px;
  /* outline: 1px solid rgb(115, 0, 255); */
}

@keyframes show {
  0% {
    opacity: 0;
    left: 100%;
  }
  50% {
    opacity: 0;
    transform: translateY(-50%) rotate(340deg);
  }
  80% {
    opacity: 1;
    left: 50%;
  }
  100% {
    transform: translateY(-50%) rotate(359deg);
  }
}

/* @media (max-width: 500px) {
  .smallRingFirstPlanetSmall {
    top: 95%;
    left: 29.3%;
  }
} */